{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>X-Meme | Home</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="/Meme_Stream/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<nav class="blue-grey lighten-1">
    <div class="nav-wrapper">
      <a href="{% url 'stream' %}" class="brand-logo" style="padding-left: 1%;">X-Meme</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'stream' %}">Home</a></li>
        <li><a href="{% url 'openForm' %}">Post</a></li>
        <li><a href="collapsible.html">Contact us</a></li>
      </ul>
    </div>
</nav>
<br>
<div class="container">

  <hr>  
  <nav class="blue-grey lighten-3">
    <div class="nav-wrapper">
      <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <div class="input-field">
          <input id="search" name="searchObject" placeholder="Type Id of the meme" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons ">search</i></label>
          <i class="material-icons ">close</i>
        </div>
      </form>
    </div>
  </nav>
    <h1 style="text-align: center;">X-Meme 2.O</h1>

    

    {% block content %}
    
    
    {% endblock content %}
</div>

<div style="height: 20vh"></div>

<footer class="page-footer blue-grey lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Meme Stream</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem laborum ea modi sint omnis nostrum molestias aspernatur corporis dolores eveniet possimus ipsa ab obcaecati eius eum nobis iusto, temporibus expedita perspiciatis a? Placeat vero accusantium quas atque voluptatibus labore libero ducimus, earum minima repudiandae aperiam! Expedita mollitia saepe soluta laudantium sed, odit enim, itaque est doloremque at, quos fugiat?</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Our Socials</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Intagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright 
    <a class="grey-text text-lighten-4 right" href="#!">Contct Us</a>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>




</body>
</html>