{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>X-Meme | Home</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<nav class="blue-grey lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="padding-left: 1%;">X-Meme</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Post</a></li>
        <li><a href="collapsible.html">Contact us</a></li>
      </ul>
    </div>
</nav>

<div class="container">
    <h1 style="text-align: center;">X-Meme 2.O</h1>


    {% block content %}
    
    
    {% endblock content %}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      
</body>
</html>