{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h5 style="text-align: center;">Edit the selected meme here...</h5>
        <br>
        <div class="container" style="padding: 2%; background-color: #eceff1; border-radius:30px" >
            <h4><b>Meme Stream</b></h4>
            <br>
            <div class="row">
                <form action="{% url 'editMeme'%}" method="post"class="col s12">
                    {% csrf_token %}
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="newCaption" name="newCaption" class="materialize-textarea" data-length="120" required></textarea>
                      <label for="newCaption">Enter the new caption</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="newMemeURL" name="newMemeURL" class="materialize-textarea" data-length="10000000" required></textarea>
                      <label for="mewMemeURL">Enter the new image url</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                    <input id="id" name="memeId" type="number" class="materialize-textarea" data-length="120">
                    <label for="id">Enter the meme Id you want edit</label>
                  </div>
                  <button class="btn waves-effect blue-grey darken-1" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
        </div>

    </div>



{% endblock content %}